
@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["Id"] != null) 
{
   <h4>Hello @Session["Username"].ToString()</h4>
   <a href="http://localhost:59022/product" class="btn btn-info" role="button">Store Manager</a>
  
}

